<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>addnewSong</title>
<link rel="stylesheet" href="./insertdata.css">
</head>
<body>

<form action="addSong" method="post">
	<h1>Add Song</h1>
	<label>Name</label><input type="text" name="name" /><br/><br/>
	<label>Artist</label><input type="text" name="artist" /><br/><br/>
	<label>Genre</label><input type="text" name="genre" /><br/><br/>
	<label>Link</label><input type="text" name="link" /><br/><br/>
	
	<input type="submit" value="Add Song"/>
	</form>
</body>
</html>