<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="./navbar.css">
<link rel="stylesheet" href="./adminHome.css">
</head>
<body>	
        <nav>
        <div><h1 th:text="${user.username}"></h1><h3>LogIn as Admin</h3></div>
        <ul>
        <li><a href="logout">Logout</a></li>
        </ul>
       	</nav>
       	
       	<ul class="links">
           	<li><a href="\newsong">AddSongs</a></li>
            <li><a href="\viewSongs">ViewAllSongs</a></li>
            <li><a href="\createPlayList">CreatePlayList</a></li>
            <li><a href="\viewPlaylists">ViewAllPlayLists</a></li>
        </ul>
</body>
</html>