<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="./insertdata.css">
</head>
<body>
	<form action="addPlayList" method="post">
	<h1>Add Songs To PlayList</h1>
	<label>PlayList Name:</label>
	<input type="text" name="name"/><br/>
	
	<div th:each="song : ${songs}">
		<label th:text="${song.name}"></label><input type="checkbox" th:name="songs" th:value="${song.id}"/> 
	</div>
	<input type="submit" value="Add PalyList"/>
	</form>
</body>
</html>