<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="./list.css">

</head>
<body>

	<h1>All Playlists</h1>
	<table border="1">
	<thead>
	<tr>
	<td>Playlists</td>
	<td>Song</td>
	</tr>
	</thead>
	<tbody>
	<tr th:each="playlist : ${playList}">
	<td th:text="${playlist.name}"></td>
	<td >
	<ul th:each="song : ${playlist.songs}">
		<li><span th:text="${song.name}"></span>
	<audio controls>
            <source th:src="${song.link}" type="audio/mpeg">
       	</audio>
       	</li>
	</ul>
	</td>
	</tr>
	</tbody>
	</table>
</body>
</html>