<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="./form.css">
<link rel="stylesheet" href="./index.css">

</head>
<body>
	
	<nav>
       <h1>LogIn Here</h1>
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
	
		<form action="login" method="post">
		<label>Email</label><input type="email" name="email" /><br/><br/>
		<label>Password</label><input type="password" name="password"/><br/><br/>
		<input type="submit" value="Login"/>
	</form>
</body>
</html>