<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song List</title>
    <link rel="stylesheet" href="songs.css">
</head>
<body>
    <div class="sidebar">
        <h1>Admin Mode</h1>
        <ul>
            <li><a href="\newsong">Add Songs</a></li>
            <li><a href="\viewSongs">View All Songs</a></li>
            <li><a href="\createPlayList">Create Playlist</a></li>
            <li><a href="\viewPlaylists">View All Playlists</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>

    <div class="content">
        <h1>Songs</h1>
        <div class="songs">
            <div th:each="song : ${songs}" class="boxs">
                <p th:text="${song.name}"></p>
                <p th:text="${song.artist}"></p>
                <p>
                    <audio controls>
                        <source th:src="${song.link}" type="audio/mpeg">
                    </audio>
                </p>
              
            </div>
        </div>
    </div>
</body>
</html>
